<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="Hero" value="danielcrenna"/>
    <add key="ConsumerKey" value="bQzJ0p9wdjXX7Bs7NWmRQ"/>
    <add key="ConsumerSecret" value="jirKboUCQOao51Nr09WsUaxPfQhENRdOfMYb7x36nw"/>
    <add key="AccessToken" value="11173402-tQWjcyUhS6YjCSVLTHWSvNNH9g8P9zC85OcHuImep" />
    <add key="AccessTokenSecret" value="aGVtQGqZln6rGLB3e763IAV7xg7QbkVsmeSpFRPr4o"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
