<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="Hero" value="yortwdevtest"/>
    <add key="ConsumerKey" value="JP7YWxKF6rJTtIUbLWhbJpbX9"/>
    <add key="ConsumerSecret" value="UaozFHIjvFhI6VZv5lJsWursPp7xQ8g16UalA9zlsc4nQUdVmg"/>
    <add key="AccessToken" value="2662535479-TaVooeti5LBLalZZfz34IEXe5eJ01GsCTyQS8EA"/>
    <add key="AccessTokenSecret" value="YpajPw8bdVSINFCNAK0Fs4JeshBZ84P43ZxPg1jkbJOlU"/>
		<add key="TwitPicKey" value="66d882eba466204150d493b0d27c54e4"/>
		<add key="TwitPicUserName" value="yortwdevtest"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
