<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <add key="Hero" value="" />
    <add key="ConsumerKey" value=""/>
    <add key="ConsumerSecret" value="" />
    <add key="AccessToken" value=""/>
    <add key="AccessTokenSecret" value=""/>
  </appSettings>
</configuration>
