#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug
[Cc]lientBin*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
deploy.config
*.vsmdi
*.pidb
*.userprefs
*.testrunconfig
*.testsettings
publish.xml
TestResults
$SSH_ENV
src/.DS_Store
src/.nuget/NuGet.Config
*.nupkg
