<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.12.1" targetFramework="net40" />
  <package id="Metrics" version="1.0.7" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.34" targetFramework="net40" />
  <package id="TableDescriptor" version="1.0.0" targetFramework="net40" />
  <package id="tuxedo" version="1.0.0" targetFramework="net40" />
</packages>