<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--  
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <!-- Doing this programmatically isn't working -->
  <extensions>
    <add assembly="cohort"/>
  </extensions>

  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/cohort.${shortdate}.log" />
    <target name="cohort" type="CohortLog" />
  </targets>
  <rules>
    <logger name="cohort" minlevel="Trace" writeTo="file, cohort" />
  </rules>
</nlog>