<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <add key="OAuthConsumerKey" value=""/>
    <add key="OAuthConsumerSecret" value=""/>
    <add key="OAuthAccessToken" value=""/>
    <add key="OAuthAccessTokenSecret" value=""/>
    <add key="TwitPicKey" value=""/>
  </appSettings>
</configuration>