<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAjCr5LM920U6lEU/CELaK7wAAAAACAAAAAAADZgAAwAAAABAAAADnmgw+mlQ2eTBiGK8bhJ8vAAAAAASAAACgAAAAEAAAAEhpMT18Rd0d8JdQEXMAPyEoAAAA96yyR59bEGMrL4hOm027DMHqqaBtlcsuCoG84gnlPyI1tbKIrXnZOhQAAADg4DsgkTd5gv3FIEMY/GCe86Kvhw==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAjCr5LM920U6lEU/CELaK7wAAAAACAAAAAAADZgAAwAAAABAAAAAwv2wSYqzz6LV0tq2KpfkfAAAAAASAAACgAAAAEAAAAJuU95ELOYvqCM078yXz068oAAAAXlolusjNBgJtbe6l8T+x+a2mx1FW7HGLG+mEaNSnZjMlQlft8YIM7RQAAACeJvA+0CUHB+z2PC9DuhW1+d7tcw==" />
  </apikeys>
</configuration>