#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
deploy.config
Examples*/
*.vsmdi
*.pidb
*.userprefs
*.testrunconfig
publish.xml
TestResults
src/net40/TweetSharp.Next/obj/
src/_ReSharper.TweetSharp.WindowsPhone/
src/_ReSharper.TweetSharp.WindowsPhone/
src/_ReSharper.TweetSharp/
src/net20/TweetSharp.Next.Net20/obj
src/net40/TweetSharp.Next/obj/
*.user
*.suo
src/net40/TweetSharp.Next.Tests/App.config
src/net40/TweetSharp.Next.Tests/bin/Release