<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="container" version="1.1.0" targetFramework="net45" />
  <package id="Depot" version="1.2.7" targetFramework="net40" />
  <package id="Paging" version="1.0.1" targetFramework="net40" />
  <package id="Stripe.net" version="1.2.1" targetFramework="net45" />
  <package id="TableDescriptor" version="1.0.0" targetFramework="net40" />
</packages>